.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.player-count-selected {
  background-color: #d5f4e6;
}

.fear-container {
  grid-area: fear;
}

.fear-header {
  font-size: large;
  font-weight: bold;
}

.fear-deck-container {
  border-style: groove;
  margin: 15px 0;
}

.fear-pool-container {
  margin: 15px 0;
  grid-area: pool;
}

.invader-container {
  border-style: groove;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: invader;
}

.invader-header {
  font-size: large;
  font-weight: bold;
}

.invader-card {
  height: 150px;
  width: 100px;
}

.blight-container {
  grid-area: blight;
}

.terror-container {
  grid-area: terror;
}

.main-container {
  display: grid;
  grid-template-areas:
    'fear pool pool pool terror'
    'fear pool pool pool blight'
    'fear invader invader invader invader';
  grid-gap: 10px;
  padding: 10px;
}
